:root {
    font-size: 16px;
    font-family: 'Mitr';
    --text-primary: #6497b1;
    --text-secondary: #b3cde0;
    --bg-pimary: #03396c;
    --bg-secondary: #091724;
}

body {
    color: #b3cde0;
    background-color: #091724;
    margin: 0;
    padding: 0;
}

main {
    margin-top: 4rem;
    padding: 1rem;
}

.navbar {
    top: 0;
    height: 3.5rem;
    width: 100%;
    position: fixed;
    background-color: var(--bg-pimary);
    z-index: 1;
}

.heroInput {
    margin-top: 0.6rem;
    font-family: 'Mitr';
    font-size: 22px;
    border: none;
    padding-left: 1rem;
}

#resultsContainer {
    position: relative;
    z-index: 600;
    width: 20rem;
    height: 30rem;
    background-color: #070c11;
    overflow-y: scroll;
    overflow-x: hidden;
}

.heroResults {

    list-style-type: none;

}

.resultsImg {
    z-index: 700;
    padding-bottom: 0;
    height: 48px;
    width: 48px;
    margin-left: 5px;
    display: inline-block;
    vertical-align: -18px;
    position: relative;
}

.resultsTxt {
    position: relative;
    margin-left: 1rem;
    font-size: 20px;
    display: inline;
}

.resultsList {
    margin-bottom: 5px;
    display: block;
}

.txt {
    color: var(--text-primary);
}

.hlTxt {
    color: darkorange;
}